<h2>{{titulo}}</h2>
<p> Añadir marca</p>
<p>
<input type="text" [(ngModel)]="miMarca" (blur)="onBlur()"/>
</p>
<button (click)="getMarca()"> Mostrar marca </button>
<button (click)="addMarca()"> Añadir marca</button>
<p>Compra las zapatillas de las mejores marcas!!! </p>
<ul>
    <li *ngFor="let m of marcas; let indice = index">{{m}}
        <button (click)="borrarMarca(indice)">Borrar</button>
    </li>
</ul> 
<p> Zapas disponibles: </p>
<ul>
    <li *ngFor="let z of zapatillas">
          <span [ngStyle]= "{
              'text-decoration': !z.stock ? 'line-through' : 'none'}">
              {{z.nombre}} - <strong>{{z.precio}} €</strong> 
          </span>
            <span *ngIf="z.precio < 70"
                [style.background]="z.precio < 70 ? 'green' : 'transparent' "
                [style.color]="z.precio < 70 ? 'white' : 'black' ">
                ¡¡EN OFERTA!!
            </span>
    </li>
</ul>

<p>El color de la mayoría de nuestras zapatillas es: </p>

    <input type="text" [(ngModel)] = "color"/>
    <ul [ngSwitch]="color">
        <li *ngSwitchCase="'yellow'">
            El color predominante es el <span [ngStyle]="{'background': color}">amarillo</span>.
        </li>
        <li *ngSwitchCase="'blue'">
            El color predominante es el<span [ngStyle]="{'background': color}">azúl</span>.
        </li>
        <li *ngSwitchCase="'red'">
            El color predominante es el  <span [ngStyle]="{'background': color}">rojo</span>.
        </li>
        <li *ngSwitchCase="'orange'">
            El color predominante es el  <span [ngStyle]="{'background': color}">naranja</span>.
        </li>

    </ul>